name: PR Build

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/pr-build.yml'
      - './src/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.100-rc.2.21505.57'
          include-prerelease: true

      - name: Build with dotnet
        run: dotnet build --configuration Release ConferencePlanner.GraphQL.sln
